/* Reiniciar los estilos predeterminados del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegura que ocupen el 100% del viewport */
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Centra las tarjetas en la parte inferior */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.background-image {
  height: 100%; /* Ocupa todo el contenedor */
  width: 100%;  /* Ocupa todo el contenedor */
  background-image: url('https://api.test.interactiva.net.co/media/header.png');
  background-size: cover; /* Asegura que la imagen cubra todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
}

.cards-container {
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Espaciado entre tarjetas */
  position: absolute;
  bottom: 20px; /* Ubica las tarjetas en la parte inferior */
}

.card {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-text {
  font-size: 18px;
  font-weight: bold;
}