/* Reiniciar los estilos predeterminados del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegura que ocupen el 100% del viewport */
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Centra las tarjetas en la parte inferior */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.logo {
  width: 150px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  
  li {
    margin-right: 20px;
  }

  button {
    background: none;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  button:hover {
    color: #c78f3a;
  }

}


.background-image {
  height: 100%; /* Ocupa todo el contenedor */
  width: 100%;  /* Ocupa todo el contenedor */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  background-image: url('https://api.test.interactiva.net.co/media/header.png');
  background-size: cover; /* Asegura que la imagen cubra todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
}

.cards-container {
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Espaciado entre tarjetas */
  position: absolute;
  bottom: 20px; /* Ubica las tarjetas en la parte inferior */
}

.card-border {
  width: 25vw;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10%;
}

.card {
  background-size: cover;
  background-position: center;
  width: 94%;
  height: 90%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: white;
    letter-spacing: 40%;
    font-size: 4rem;
  }
  
  h2 {
    color: #c78f3a;
    letter-spacing: 50%;
    font-size: 2rem;
  }
}

.card-text {
  margin-bottom: 5%;
  margin-right: 5%;
  font-size: 0.7rem;
  font-weight: bold;
}


.about-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #c78f3a;
    letter-spacing: 35%;
    font-size: 1.8rem;
  }
  
  p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.4rem;
    text-align: justify;
  }
}






.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

/* Columna para la imagen */
.carousel-left {
  width: 4%; /* 20% de ancho para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-carousel {
  display: flex;
  overflow: hidden; /* Oculta las imágenes que no están visibles */
  width: 96%; /* Ajusta el ancho según lo necesites */
  margin: 0 auto; /* Centra el carrusel */
  position: relative; /* Para posicionar los botones */
}

.carousel-logo {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease; /* Animación al mover el carrusel */
}

.carousel-item {
  flex-shrink: 0;
  width: 200px; /* Ajusta el ancho de las imágenes */
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 2%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.right {
  right: 5%; /* Ajusta el botón derecho al borde interno */
}